.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  background: radial-gradient(#02214e 20%, transparent 21%, transparent 79%, #091324 80%);
  background-size: 3em 3em;
  background-color: #04062a;
  opacity: 1;
  color: white;
}

.miniBox {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}
