.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  background: url("https://wallpapercave.com/wp/wp2022774.jpg") no-repeat;
  background-size: cover;
  color: white;
}

.miniBox {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}
